<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ahuang.myframe">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".FashionApplication"
        android:allowBackup="true"
        android:icon="@drawable/gowalla"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.refresh.liaohuqiu.ListRefreshActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.refresh.liaoimprove.ListViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.refresh.liaoimprove.RecyRefreshActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.refresh.liaohuqiu.RecyCommAdapterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.refresh.smartrefresh.SmartRefreshHongActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.refresh.twinkrefresh.TwinkLayoutRefreshActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.refresh.twinkrefresh.TwinkRecycleActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.eventbus.FirstEventActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.eventbus.SecondEventActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.rxjava.RxMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.retrofit.RetrofitMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.retrofit.BasicUsedActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.feature.NewFeatureActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.feature.SnackBarActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.feature.TextInputLayoutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.feature.TabLayoutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.feature.NavigationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.feature.CoordinatorLayoutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.feature.CoordinatorToolBarActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.feature.CollapsingToolbarLayout1Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.feature.CollapsingToolbarLayout2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.retrofit.BasicUsePostActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.rxjava.BasicUsedActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.refresh.RefreshMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.other.CrashActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.other.OtherMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.rxjava.RtOperatorActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.dagger.DaggerMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.rxjava.RxRetrActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.refresh.smartrefresh.SmartBaseHongActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.custom.CustomMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.refresh.smartrefresh.SmartBaseRecyAdapterHelperActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.refresh.liaoimprove.LiaoImproveHelperActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.custom.measure.MeasureActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.refresh.liaohuqiu.LiaoAdaHelperActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.custom.measure.CustomViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.other.FanxingActivity">
        </activity>
        <activity android:name=".activity.other.VlayoutActivity">
        </activity>
    </application>

</manifest>